<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>


<div class="question-answer">
  <h2> <%= @question %></h2>
  <p> - you </p>
</div>

<div class="question-answer">
  <h2><%= @answer %></h2>
  <p> - coach </p>
</div>

