<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>

<form class = "form-inline padded" action="/answer">
  <label for="question">Speak to your coach</label>
  <input class = "form-control" type="text" id="question" name="question" placeholder="what time is it?">
  <button type="submit" class = "btn btn-primary"> Go </button>
</form>
