// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-answer{
  margin: 100px 100px;
  border: solid black 1px;
  display: table;
  max-width: 50vw;
  padding: 5px 15px;
  text-align: center;
  p{
    opacity: 0.95;
    cursor: pointer;
    color: rgba(120, 120, 120, 0.8);
  }
}

.padded {
  margin-left: 100px;
}
